body  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.main  {
    margin: 0 auto;
    width: 300px;
    padding: 14px;
    border: solid 2px #00a2ff;
    background-color: #ebf4fb;
}
.currency  {
    width: 20px;
    margin: 7px auto;
}
input  {
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 250px;
    margin-bottom: 10px;
}

select  {
    margin-bottom: 15px;
}

label  {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4px;
}

.convert  {
    width: 250px;
    height: 30px;
    line-height: 30px;
    background-color: #494040;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0 0 20px;
    padding: 0;
    border-style: none;
    text-decoration: none
}

.convert:hover  {
    background-color: #aa1616;
}

span  {
    color: #ff0000;
    font-weight: bold;
}